<h1>Admin Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Rating</th>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |rv| %>
      <tr>
        <td><%= rv.content %></td>
        <td><%= rv.rating %></td>
        <td><%= rv.user_id %></td>
        <td><%= rv.product_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'admin Home',admin_root_path %>
