<h2><%= @product.name %></h2>
<ul>
  <li>Description: <%= @product.description %></li>
  <li>Price: $<%= @product.price %></li>
  <li> <%= image_tag(@product.image_url) if @product.image? %></li>
  <% if @product.reviews.any? %>
    <li>Average Rating: <%= @product.aggregate_rating %> / 5</li>

  <% end %>
</ul>
<h4>Reviews for <%= @product.name %></h4>
<ul id="reviews_of_product_<%= @review.product_id %>">
<% if @product.reviews.any? %>
  <% @product.reviews.order(:updated_at).reverse.each do |review| %>
      <li><p><% review.rating.times do %><span class="star">★</span><% end %><% (5 - review.rating).times do %><span class="out-of">★</span><% end %>  <%= truncate(review.content, :length => 30) %></p></li>
    <ul id="comments_of_review_<%= review.id %>">
      <% review.replies.each do |reply| %>
         <li>
           <p><%= reply.user.email %>: <%= reply.comment %></p>
         </li>
      <% end %>
    </ul>
    <%= render 'replies/form', reply: @reply, review: review %>
  <% end %>
<% end %>
</ul>

<% if user_signed_in? %>
  <%= render 'reviews/form', review: @review %>
<% end %>
<hr>
<ul class="sub-links">
  <li><%= link_to "Return to products", products_path %></li>
</ul>
